[Desktop Entry]
Version=1.0
Type=Application
Name=Brightness Control
Comment=Monitor brightness control system tray application
Exec=/home/ckurdu/projects/my/monitor_brightness_on_off/brightness_gui.sh
Icon=brightness-applet
Terminal=false
Categories=System;Settings;
StartupNotify=false
X-GNOME-Autostart-enabled=true
Hidden=false
